@import './assets/sass/lib/normalize.css';
html, body {
  background-color: #1c2431;
  font-family: "Raleway", sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.main--container {
  width: 100%;
}

.section--principal {
  height: 100vh;
  width: 100%;
}
.section--principal .div--principal {
  padding-top: 2%;
  width: 100%;
  background-color: #1c2431;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section--principal .div--principal .img--principal {
  width: 25%;
}
.section--principal .div--principal h1, .section--principal .div--principal p {
  text-align: center;
  color: white;
  padding: 0 25%;
}
.section--principal .div--principal p {
  font-weight: 600;
  padding: 0 30%;
}

.section--characteristics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  height: 100vh;
  width: 100%;
}
.section--characteristics div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section--characteristics div h2, .section--characteristics div p {
  color: white;
  text-align: center;
}

.section--banner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--banner div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section--banner div h2, .section--banner div p {
  color: white;
  text-align: left;
}

.section--testimonials {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.section--testimonials .div--testimonials {
  background-color: #202a3c;
}

.nav--container {
  background-color: #1c2431;
  padding-top: 3%;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.img--navLogo {
  padding-left: 80px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
}
ul li {
  margin-right: 40px;
}

.a--mainButton {
  background: linear-gradient(90deg, #65e2d9, #339ecc);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 20px 80px;
  border-radius: 50px;
}

.footer--container {
  background-color: #0b1523;
  height: 200px;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
