html, body {
    background-color: $mainBg;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    color: $white;
}

.main--container {
    width: 100%;
    // background-color: $secundaryBg;
}

.section--principal {
    height: 100vh;
    width: 100%;

    .div--principal {
        padding-top: 2%;
        width: 100%;
        background-color:  $mainBg;
        @include d-flex;
        flex-direction: column;

        .img--principal { width: 25%; }
            
        h1, p { 
            text-align: center;
            color: white;
            padding: 0 25%;
        }
        
        p {
            font-weight: 600;
            padding: 0 30%;
          
        }
    }
}


// card characteristics

.section--characteristics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    height: 100vh;
    width: 100%;

    div {
        h2, p { color: white; text-align: center; }
        width: 50%;
        @include d-flex;
        flex-direction: column;
    }
}


// banner

.section--banner {
    height: 100vh;
    width: 100%;
    @include d-flex;

    div {
        h2, p { color: white; text-align: left;}
        height: 100%;
        width: 50%;
        @include d-flex;
        flex-direction: column;
    }
}


// testimonials

.section--testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .div--testimonials {
        background-color: $testimonialsBg; 
    }
}
