//PRIMARY COLORS - Dark Blue (intro and email sign up background) 
$mainBg: hsl(217, 28%, 15%); 
$secundaryBg: hsl(218, 28%, 13%);
$footerBg:  hsl(216, 53%, 9%);
$testimonialsBg:  hsl(219, 30%, 18%); 

// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

// Neutral
$white: hsl(0, 0%, 100%);

// ## Typography
// - Family: [Raleway](https://fonts.google.com/specimen/Raleway)
// - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
$fontSize: 14px;
$fontWeight1: 400;
$fontWeight2: 700;

//paddings
$navBarPadding: 80px;