.nav--container {
    background-color: $mainBg;
    padding-top: 3%;
    height: 80px;
    width: 100%;
    @include d-flex;
    justify-content: space-between;
} 
    
.img--navLogo {
    padding-left: $navBarPadding;
}

ul {
    list-style: none;
    @include d-flex;
    padding-right: $navBarPadding;

    li {
        margin-right: 40px;
    }
}
